.white-space-pre {
    white-space: pre-wrap;
}
.center{
    text-align: center;
}
tr,.fontSize{
    font-size: 15px;
}
.headerSize{
    font-size: 25px;
}
tr:nth-child(even) {
    background-color: lightgrey;
  
}
tr:nth-child(odd) {
    background-color:white;
    
}
tr.normal{
    background-color: white;
}
.topHeader{
    font-size:40px;
}
.indexSize{
    font-size: 18px;
}
.scrollbar {
    width: 495px;
    height: 700px;
    position:relative;
    overflow: auto;
  }
  .right{
    float: right;
}
.alignright{
    text-align: left;
}
form{
    width: 100%
}
.errorMessage{
color: red;
font-size: 20px;
}