<div class="jumbotron">
    <header>
        <h1 class="center">
            <div class="topHeader">WELCOME TO MOXI-WORKS</div>
        </h1>
        <br /><br />
        <div>
            <div class="indexSize">
                <form [formGroup]="formdata" (ngSubmit)="getParams(formdata.value)">
                    <div class="row">
                        <div class="col-xl-6">
                            <label>Enter the moxi works company id:</label>
                            <input type="text" id="id" class="form-control" [(ngModel)]="companyId" name="companyId"
                                required formControlName="companyId" />
                            <div *ngIf="companyId!='moxi_works'" class="errorMessage">
                                <p>Company id is incorrect</p>
                            </div>

                        </div>

                        <div class="col-xl-6">

                            <label>Enter the page number:</label>
                            <input type="text" id="pageNumber" class="form-control" [(ngModel)]="pageNumber" required
                                name="pageNumber" formControlName="pageNumber" />

                            <div *ngIf="pageNumber!='1' && pageNumber!='2'" class="errorMessage">
                                <p>Page Number is incorrect</p>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <label>Enter the value of updated since:</label>
                            <input type="text" id="updatedSince" class="form-control" [(ngModel)]="updatedSince"
                                required name="updatedSince" formControlName="updatedSince" />

                            <div *ngIf="updatedSince!='1461108284'" class="errorMessage">
                                <p>Value of updated since is incorrect</p>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <label>Enter the moxi works agent id:</label>
                            <input type="text" id="agentId" class="form-control" [(ngModel)]="agentId" name="agentId"
                                required formControlName="agentId" /><br />

                        <div *ngIf="agentId!='demo_4@moxiworks.com'" class="errorMessage">
                            <p>Agent id is incorrect</p>
                        </div></div>
                    </div>
                    <!-- <div *ngIf="!formdata.valid" class="center">
                        <p class="errorMessage">Data is required</p>
                      </div> -->
                    <div class="center"> <button type="submit" class="btn btn-primary btn-lg">submit</button></div>
                </form>
            </div>
        </div><br /><br />
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" name="searchText">
            <span class="container" class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
        <div class="center" *ngIf="((agents | filter: searchText).length )!= 0">
            <span *ngFor="let index of pages">
                <button class="btn btn-outline-dark btn-lg" (click)="getnextpages(index)"
                [ngClass]="(currentPage=== index) && !isClicked ? 'active' : '' || (pageNumber-1)===index && isClicked ?'active':'' "  >
                    <div   class="indexSize"> {{ index + 1 }}</div>
                </button>
            </span>
        </div>
    </header><br />

    <body>
        <ngx-spinner></ngx-spinner>
        <div class="pagination justify-content-center">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Agent ID</th>
                        <th>Client Office ID</th>
                        <th> Name</th>
                        <th>Email ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let agent of agents  | filter:  searchText" (click)="getAgentLog(agent)"
                        data-toggle="modal" data-target="#myModal">
                       
                        <td>
                            <b>{{ agent.agentid }}</b>
                        </td>
                        <td>{{ agent.officeid}}</td>
                        <td>{{ agent.name }}</td>
                        <td>{{ agent.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <span *ngIf="(agents | filter: searchText).length === 0"><p class="center">"No Exact matches"</p></span>

        </div>
    </body>
    <footer class="center" *ngIf="((agents | filter: searchText).length )!= 0">
        <span *ngFor="let index of pages"> <button class="btn btn-outline-dark btn-lg"  (click)="getnextpages(index)"
            [ngClass]="(currentPage=== index)  ? 'active' : '' || (pageNumber-1)===index && isClicked ? 'active':'' ">
                <div class="indexSize"> {{ index + 1 }}</div>
            </button>
        </span>
    </footer>
</div>
<router-outlet></router-outlet>

<!-- The Modal -->

<div class="modal" id="myModal">
    <div class="container">
        <div class="modal-dialog">
            <div class="modal-dialog modal-xl">
                <div>
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title"><b>
                                    <div class="headerSize">{{ agentName }}</div>
                                </b></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="scrollbar">
                            <div class="modal-body" class="white-space-pre">
                                <div class="fontSize">{{details | json}}</div>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">
                                <div class="fontSize">Close</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


